
/* BookupThemeSelector */
window.org-gnome-gitlab-ilhooq-Bookup themeselector {
  margin: 9px;
}
window.org-gnome-gitlab-ilhooq-Bookup themeselector checkbutton {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px @borders;
}
window.org-gnome-gitlab-ilhooq-Bookup themeselector checkbutton.follow:checked,
window.org-gnome-gitlab-ilhooq-Bookup themeselector checkbutton.light:checked,
window.org-gnome-gitlab-ilhooq-Bookup themeselector checkbutton.dark:checked {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}
window.org-gnome-gitlab-ilhooq-Bookup themeselector checkbutton.follow {
  background-image: linear-gradient(to bottom right, #fff 49.99%, #202020 50.01%);
}
window.org-gnome-gitlab-ilhooq-Bookup themeselector checkbutton.light {
  background-color: #fff;
}
window.org-gnome-gitlab-ilhooq-Bookup themeselector checkbutton.dark {
  background-color: #202020;
}
window.org-gnome-gitlab-ilhooq-Bookup themeselector checkbutton radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  transform: translate(27px, 14px);
  padding: 2px;
}
window.org-gnome-gitlab-ilhooq-Bookup checkbutton.theme-selector radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

#nav-pane expander-widget title {
  padding: 5px;
}

#nav-pane expander-widget title image {
  margin-left: 5px;
}

#nav-pane expander-widget title label {
  margin-left: 5px;
  font-weight: 900;
}

#nav-pane expander-widget {
  padding-top: 5px;
  padding-bottom: 5px;
}

#nav-pane expander-widget button {
  min-height: 0;
  margin-left: 10px;
  padding: 0;
}

#nav-pane treeexpander label {
	margin-left: 5px;
}

#pages-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

textview {
  font-family: 'Liberation Mono';
  font-size: 16px;
}

paned separator {
	padding-right: 0;
	margin-right:0;
}
