:root {
    --bg-color: #fff;
    --font-color: #222;
    --link-color: #08c;
    --code-bg-color: #f3f3f3;
    --code-color: #403a36;
    --border-color: #ddd;
    --table-row-bg-color: #fafafa;
    --blockquote-color: #777777;
    --hr-color: rgba(0,0,0,0.5);
}

@media (prefers-color-scheme: dark) {

    :root {
        --bg-color: #242424;
        --font-color: #fff;
        --link-color: #bbe8ff;
        --code-bg-color: #1a1a1a;
        --code-color: #e4dfdb;
        --border-color: #575757;
        --table-row-bg-color: #3b3b3b;
        --blockquote-color: #cfcfcf;
        --hr-color: rgba(255, 255, 255, 0.5);
    }
}

body {
    padding: 30px 50px;
    margin: 0;
    background-color: var(--bg-color);
    font-size: 16px;
    font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
    font-weight: 400;
    color: var(--font-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:focus{
    outline: none;
    text-decoration: underline;
}

h1 {
    margin: 0 0 0.25rem;
    font-family: "Raleway", "Open Sans", "Droid Sans", Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 200;
}

h2 {
    margin: 1.5rem 0 0.25rem;
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    margin: 1.5rem 0 0.25rem;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.8;
}

h4 {
    margin: 1.5rem 0 0.25rem;
    font-size: 1.125rem;
    font-weight: 300;
}

h5 {
    margin: 1.5rem 0 0;
    font-size: 1rem;
    font-weight: 300;
}

h6 {
    margin: 1.5rem 0 0;
    font-size: 0.8rem;
    font-weight: 200;
}

code {
    display: inline-block;
    padding: 0.4rem 0.5rem;
    background-color: var(--code-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-family: "Droid Sans Mono","DejaVu Mono",mono;
    font-weight: normal;
    color: var(--code-color);
}

pre code {
    display: block;
    margin: 1em auto;
    overflow-x: scroll;
}

kbd {
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
    box-shadow: 0 3px 0 1px var(--border-color);
    line-height: 1;
    min-width: 0.75rem;
    display: inline-block;
    text-align: center;
    padding: 2px 5px;
    position: relative;
    top: -1px;
}

img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}

hr {
    margin: 2em;
    height: 1px;
    background-image: linear-gradient(to left, rgba(0,0,0,0), var(--hr-color), rgba(0,0,0,0));
    border: 0;
}

table {
    border-collapse: collapse;
    text-align: left;
    border: 1px solid var(--border-color);
}

th {
    background-color: var(--table-row-bg-color);
}

th, td {
    padding: 8px !important;
    border: 1px solid var(--border-color);
}

tr:nth-child(even) {
    background-color: var(--table-row-bg-color);
}

blockquote {
    border-left: 4px solid var(--border-color);
    padding: 0 15px;
    color: var(--blockquote-color);
}

blockquote > :first-child {
    margin-top: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}
